* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: #f4f4f4;
}

.hero-header {
    width: 100%;
    height: 250px;
    background-image: url("header.JPG");
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

.hero-header .overlay {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.35);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    position: relative;
    z-index: 2;
}

.hero-header h1 {
    color: white;
    font-size: 2rem;
    margin-bottom: 15px;
}

nav {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    max-width: 1100px; 
    margin: 40px auto;
    padding: 0 25px;
}

.info, .event {
    background: white;
    padding: 30px; 
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0,0,0,0.12);
}

footer {
    text-align: center;
    background: #eee;
    padding: 15px;
    margin-top: 40px;
}

@media screen and (max-width: 600px) {
    .hero-header {
        height: 180px;
    }

    .hero-header h1 {
        font-size: 1.5rem;
    }

    nav {
        flex-direction: column;
        gap: 8px;
    }
}

.map-container {
    margin-top: 15px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
}

.two-column {
    display: flex;
    gap: 30px;          /* ←枠同士の間を広く */
    max-width: 1100px;  /* ←全体を広く */
    margin: 40px auto;
    padding: 0 25px;
}

.left-box {
    flex: 3.6;
    padding: 30px;
}

.side-box {
    flex: 1.6;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0,0,0,0.12);
}



.side-box ul {
    padding-left: 25px;
}

/* スマホでは縦並び */
@media screen and (max-width: 700px) {
    .two-column {
        flex-direction: column;
        gap: 20px;
    }
}
